<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Dashboard</title>

</head>

<body>
      <div class="dashboard-container">
       <h1>College Portal Dashboard</h1>
          <hr>
          
          <ol>
            <li><a href="/addstudent">Add Student</a></li>
            <li><a>View Student</a></li>
            <li><a>Search Student</a></li>
            <li><a>Delete Student</a></li>
            <li><a href="/">Logout</a></li>
          </ol>

    </div>
</body>
</html>