<!DOCTYPE html>
<html>
    <head>
        <title>College Portal</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <div>
            <h1>College Portal</h1>

            <form action="/dashboard" method="post">

                <label>UserName :</label>
                <input type="text" name="Username"  placeholder="Enter Username">
               <br><br>

               <label>Password</label>
               <input type="password" name="password" placeholder="Enter Password">
               <br><br>

               <button type="submit">Login</button>
                 
            </form>
        </div>
    </body>
</html>