<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="search-container">

    <h1>Search Student</h1>

    <form action="/search" method="post">

        <input type="text" name="stdname"
               placeholder="Enter Student Name">

        <button type="submit">Search</button>

    </form>

</div>

</body>
</html>