*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg,#141e30,#243b55);
    min-height: 100vh;
}



.Login-container{
    width: 400px;
    margin: 100px auto;
    padding: 35px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.4);
}

.Login-container h1{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.Login-container label{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.Login-container input{
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.Login-container button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #00bcd4;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.Login-container button:hover{
    background: #0097a7;
}




.dashboard-container{
    width: 600px;
    margin: 60px auto;
    padding: 35px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.4);
}

.dashboard-container h1{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.dashboard-container hr{
    margin-bottom: 20px;
}

.dashboard-container ol{
    list-style: none;
}

.dashboard-container li{
    margin: 15px 0;
}

.dashboard-container a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
    transition: 0.3s;
}

.dashboard-container a:hover{
    background: #00bcd4;
    transform: translateX(10px);
}

.addStudent-Container{
    width: 450px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 15px gray;
}

.addStudent-Container h1{
    text-align: center;
    margin-bottom: 15px;
    color: #1e3c72;
}

.addStudent-Container hr{
    margin-bottom: 20px;
}

.addStudent-Container label{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.addStudent-Container input{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #999;
    border-radius: 6px;
    font-size: 16px;
}

.addStudent-Container button{
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #1e3c72;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.addStudent-Container button:hover{
    background-color: #2a5298;
}